<!doctype html>
<html lang='en'>
    <head>
        {{> base/base-meta }}
        {{> base/base-head }}
    </head>
    <body>
        {{> base/base-header }}

        <div id='globe-graphic-container'>
            {{> graphic/intro}}
            <main class='story' role='main'>
                {{> graphic/part }}
                {{> graphic/recipe }}
            </main>
        </div>

        {{> base/base-footer }}
        {{> base/base-svg }}
        {{> base/base-js }}
        {{> base/base-analytics }}
    </body>
</html>
       