<header class='intro'>
	<div class='intro--info'>
		<h1 class='intro--hed'>{{copy.hed}}</h1>
		<p class='intro--dek'>{{copy.subhed}}</p>
	</div>

	<button role='button' class='btn btn--secondary btn--audio'>
		Begin
	</button>
</header>

<ul class='byline theta'>
	{{#each copy.byline}}
	<li class='byline--item'>{{role}} by <span class='byline--author'>{{name}}</span></li>
	{{/each}}
</ul>