<section class='part'>
	{{#each copy.story}}

		<div class='part--video'>
			<div class='video-item video-{{video}}' data-src='{{video}}'>
				<div class='video-item--element'>
					<img class='video-item--placeholder' src='assets/img/{{video}}.jpg' />
				</div>
				<div class='video-item--progress'></div>
				<button role='button' class='video-item--mute video-item--button hide-mobile'>
				 	<span class='mute-option audio-on hide'>
						<img class='inject' src='https://apps.bostonglobe.com/common/img/audio-on.svg'>
					</span>
					<span class='mute-option audio-off'>
						<img class='inject' src='https://apps.bostonglobe.com/common/img/audio-off.svg'>
					</span>
				</button>
			</div>
		</div>
		
		<div class='part--content'>
			<blockquote class='part--quote'>{{quote}}</blockquote>
			<div class='part--copy typeset'>{{{text}}}</div>
		</div>

	{{/each}}
</section>