<section class='recipe'>
	{{#each copy.recipe}}
	<h3 class='recipe--hed alpha'>
		{{recipe-hed}}
	</h3>
	<ol class='recipe--ingredients typeset'>
		{{#each recipe-list}}
		<li class='recipe--item'><strong>{{recipe-measurement}}</strong> {{recipe-item}}</li>
		{{/each}}
	</ol>
	<ol class='recipe--steps typeset'>
		{{#each recipe-steps}}
		<li class='recipe--item'>{{recipe-step}}</li>
		{{/each}}
	</ol>
	{{/each}}
</section>