<!-- js libs -->
<script src='https://apps.bostonglobe.com/common/js/jquery/jquery-1.11.2.min.js' type='text/javascript'></script>
<script src='https://apps.bostonglobe.com/common/js/jplayer/jquery.jplayer-2.9.2.min.js' type='text/javascript'></script>
<script src='https://apps.bostonglobe.com/common/js/jplayer-fade/jplayer-fade-1.0.0.min.js' type='text/javascript'></script>
<script src='https://apps.bostonglobe.com/common/js/waypoints/noframework.waypoints-3.1.1.min.js' type='text/javascript'></script>
<script src='https://apps.bostonglobe.com/common/js/waypoints/inview-3.1.1.min.js' type='text/javascript'></script>

<!-- smoosh -->
<script src='js/util/ui.js' type='text/javascript'></script>
<script src='js/main.js' type='text/javascript'></script>
<!-- endsmoosh -->