<link rel='stylesheet' href='https://apps.bostonglobe.com/common/css/base/base-1.2.0.css' />
<link rel='stylesheet' href='https://apps.bostonglobe.com/common/css/components/components-0.3.0.css' />
<!-- smoosh -->
<link rel='stylesheet' href='css/main.css' />
<script src='js/util/async-font.js' type='text/javascript'></script>
<script src='js/util/async-load-js.js' type='text/javascript'></script>
<!-- endsmoosh -->

<noscript><link href='https://apps.bostonglobe.com/common/font/nojs-fonts.css' rel='stylesheet' /></noscript>
<link href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
<link rel='shortcut icon' href='https://apps.bostonglobe.com/common/img/favicon.ico' />