<script src='https://apps.bostonglobe.com/common/js/svg-injector/svg-injector-1.1.3.min.js' type='text/javascript'></script>

<script type='text/javascript'>
	window.svgInjectable = true;
</script>

<!--[if lte IE 9]>
	<script type='text/javascript'> window.svgInjectable = false;</script>
<![endif]-->

<script type='text/javascript'>
 	if(window.svgInjectable) {
 		var mySVGsToInject = document.querySelectorAll('img.inject');
    	SVGInjector(mySVGsToInject, {pngFallback: 'https://apps.bostonglobe.com/common/img/fallback/'});
 	} else {
		document.body.className = 'ie';
 	}
</script>