<header class='g-header {{copy.header_color}}' role='banner'>
    <div class='g-header--inner'>
        <h1 class="g-header--logo">
            <a href='http://www.bostonglobe.com'>
                <img class='inject logo--lg' src='https://apps.bostonglobe.com/common/img/g-logo.svg'>
                <img class='inject logo--sm' src='https://apps.bostonglobe.com/common/img/g-logo--sm.svg'>
            </a>
        </h1>
        <h2 class='g-header--title'>
            {{copy.section}}
        </h2>
        <ul class='g-header--social-list'>
            <li class='g-header--social-item'>
                <a href='#' class='share-fb' target="_blank">
                    <img class='inject' src='https://apps.bostonglobe.com/common/img/facebook.svg'>
                </a>
            </li>
            <li class='g-header--social-item'>
                <a href='#' class='share-tw' target="_blank">
                    <img class='inject' src='https://apps.bostonglobe.com/common/img/twitter.svg'>
                </a>
            </li>
        </ul>
    </div>
</header>