.part--copy,
.recipe {
  width: 90%;
  margin: 0 auto;
  max-width: 40em;
}
.hide {
  display: none;
}
object {
  width: 100%;
}
.btn--audio:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 13px;
  padding-right: 0.5em;
  background: url("https://apps.bostonglobe.com/common/img/headphones.svg") no-repeat;
}
.intro {
  position: relative;
  padding-top: 3.5em;
  text-align: center;
  color: #222;
  padding: 4em 1em;
}
@media screen and (min-width: 50em) {
  .intro {
    padding: 5em 1em;
  }
}
.intro--info {
  font-family: Reenie Beanie, cursive;
  padding-bottom: 0.5em;
}
.intro--info > * {
  padding-bottom: 0.5em;
}
.intro--hed {
  font-size: 3em;
  line-height: 0.7;
}
@media screen and (min-width: 50em) {
  .intro--hed {
    font-size: 6em;
  }
}
.intro--hed svg {
  width: 100%;
}
.intro--dek {
  max-width: 25em;
  margin: 0 auto;
  font-size: 1.5em;
  color: #555;
}
.byline {
  list-style-type: none;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 1em 0;
}
.byline--item {
  display: inline-block;
}
.byline--item:first-child {
  padding-right: 1em;
}
.byline--author {
  font-weight: 700;
}
.part {
  position: relative;
}
.part--content {
  padding-bottom: 4em;
}
.part--quote {
  font-family: Reenie Beanie, cursive;
  font-size: 2em;
  line-height: 1;
  padding: 1em;
  max-width: 22em;
  quotes: '“' '”';
}
@media screen and (min-width: 50em) {
  .part--quote {
    font-size: 2.5em;
  }
}
.part--quote:before {
  content: open-quote;
}
.part--quote:after {
  content: close-quote;
}
.part--copy {
  color: #555;
}
.recipe {
  color: #222;
  border-top: 5px solid #ccc;
  padding: 2em 3em;
  background-color: #eee;
  -webkit-font-feature-settings: "frac" 1;
     -moz-font-feature-settings: "frac" 1;
          font-feature-settings: "frac" 1;
}
.recipe--ingredients {
  list-style-type: none;
}
.recipe--hed {
  font-family: Reenie Beanie, cursive;
  padding-bottom: 0.5em;
  line-height: 1;
}
.video-item {
  position: relative;
}
.video-item video,
.video-item img {
  display: block;
  width: 100%;
  height: auto;
}
.video-item svg {
  width: 100%;
}
.video-item--progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.6em;
  background: rgba(255,255,255,0.6);
  -webkit-transition: width 0.25s linear;
          transition: width 0.25s linear;
}
.video-item--button {
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
          transition: 0.2s ease all;
}
.video-item--button:hover {
  background-color: rgba(0,0,0,0.8);
}
.video-item--play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -20px;
  pointer-events: none;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
  padding: 0.5em 1em;
}
.video-item--play .injected-svg {
  width: 25px;
  height: 16px;
  fill: rgba(255,255,255,0.6);
}
.video-item--mute {
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  line-height: 1;
  width: 34px;
  height: 30px;
}
.video-item--mute svg {
  fill: rgba(255,255,255,0.6);
}
.mobile .video-item--mute,
.ipad .video-item--mute {
  display: none;
}
.pointer {
  cursor: pointer;
}
