// Available fonts
$benton = 'Benton', Helvetica, Arial, sans-serif
$miller = 'Miller', Georgia, Times, serif
$miller-banner = 'Miller-Banner', Georgia, Times, serif
$sans = Helvetica, Arial, sans-serif
$hand = Reenie Beanie, cursive

// to use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// put your styles here
// to reference images in the media folder, use $media-path + filename.jpg
$bp = 50em
$offwhite = #eeeeee
$offblack = #222222
$text = lighten($offblack, 20)

//Helpers
$absolute
	position absolute
	text-align center
	width 100%
	
$container
	width 90%
	margin 0 auto
	max-width 40em
	
.hide
	display none

object
	width 100%

//Intro
.btn--audio:before
	content ''
	display inline-block
	width 16px
	height 13px
	padding-right 0.5em
	background url(https://apps.bostonglobe.com/common/img/headphones.svg) no-repeat

.intro
	position relative
	padding-top 3.5em
	text-align center
	color $offblack
	padding 4em 1em
	
	@media screen and (min-width: $bp)
		padding 5em 1em
	
	&--info
		font-family $hand
		padding-bottom 0.5em
		> *
			padding-bottom 0.5em
	
	&--hed
		font-size 3em
		line-height 0.7
		
		@media screen and (min-width: $bp)
			font-size 6em
		
		svg
			width 100%
	&--dek
		max-width 25em
		margin 0 auto
		font-size 1.5em
		color $text

//Byline
.byline
	list-style-type none
	bottom 0
	width 100%
	text-align center
	border-top 1px solid #ccc
	padding 1em 0
	
	&--item
		display inline-block
		
		&:first-child
			padding-right 1em
	
	&--author
		font-weight 700


//Part
.part
	position relative

	&--content
		padding-bottom 4em

	&--quote
		font-family $hand
		font-size 2em
		line-height 1
		padding 1em
		max-width 22em
		quotes '“' '”'
		
		@media screen and (min-width: $bp)
			font-size 2.5em
		
		&:before
			content open-quote

		&:after
			content close-quote
		
	&--copy
		@extends $container
		color $text
			
//Recipe
.recipe
	@extends $container
	color $offblack
	border-top 5px solid #ccc
	padding 2em 3em
	background-color $offwhite
	font-feature-settings "frac" 1
	
	&--ingredients
		list-style-type none
	&--hed
		font-family $hand
		padding-bottom 0.5em
		line-height 1

//Video
.video-item
	position relative
	
	video, img
		display block
		width 100%
		height auto
	svg
		width 100%
		
	&--progress
		position absolute
		bottom 0
		left 0
		width 0
		height 0.6em
		background rgba(#fff,0.6)
		transition width 0.25s linear
	
	&--button
		background-color rgba(0,0,0, 0.5)
		border none
		border-radius 3px
		cursor pointer
		transition 0.2s ease all
		
		&:hover
			background-color rgba(0,0,0, 0.8)
	
	&--play
		position absolute
		top 50%
		left 50%
		margin-left -25px 
		margin-top -20px
		pointer-events none
		background-color rgba(0,0,0, 0.7)
		border-radius 3px
		padding 0.5em 1em
		
		.injected-svg
			width 25px
			height 16px
			fill rgba(#fff, 0.6)
	
	&--mute
		position absolute
		top 1em
		right 1em
		display block
		line-height 1
		width 34px 
		height 30px
		
		svg 
			fill rgba(#fff, 0.6)

.mobile .video-item--mute, .ipad .video-item--mute
	display none

.pointer
	cursor pointer